# Created by .ignore support plugin (hsz.mobi)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea
*.iml
out
gen### Linux template
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
dist/
node_modules/.bin/browser-sync
node_modules/.bin/buble
node_modules/.bin/dev-ip
node_modules/.bin/express
node_modules/.bin/lt
node_modules/.bin/throttleproxy
node_modules/.bin/weinre
node_modules/accepts/
node_modules/acorn-jsx/
node_modules/acorn-object-spread/
node_modules/after/
node_modules/arraybuffer.slice/
node_modules/async-each-series/
node_modules/backo2/
node_modules/base64-arraybuffer/
node_modules/base64id/
node_modules/batch/
node_modules/better-assert/
node_modules/blob/
node_modules/bootstrap/
node_modules/browser-sync-client/
node_modules/browser-sync-ui/
node_modules/browser-sync/
node_modules/bs-recipes/
node_modules/buble/
node_modules/bubleify/
node_modules/callsite/
node_modules/caniuse-db/features-json/css-display-contents.json
node_modules/caniuse-db/features-json/css-hyphenate.json
node_modules/classnames/
node_modules/component-bind/
node_modules/component-emitter/
node_modules/component-inherit/
node_modules/connect-history-api-fallback/
node_modules/connect/
node_modules/cookie/
node_modules/copy-webpack-plugin/
node_modules/depd/
node_modules/destroy/
node_modules/dev-ip/
node_modules/easy-extender/
node_modules/eazy-logger/
node_modules/ee-first/
node_modules/emitter-steward/
node_modules/encodeurl/
node_modules/engine.io-client/
node_modules/engine.io-parser/
node_modules/engine.io/
node_modules/escape-html/
node_modules/etag/
node_modules/eventemitter3/
node_modules/express/
node_modules/extract-text-webpack-plugin/
node_modules/finalhandler/
node_modules/font-awesome/
node_modules/formidable/
node_modules/fresh/
node_modules/fs-extra/
node_modules/generate-function/
node_modules/generate-object-property/
node_modules/has-binary/
node_modules/has-cors/
node_modules/history/
node_modules/hoist-non-react-statics/
node_modules/http-errors/
node_modules/http-proxy/
node_modules/immutable/
node_modules/is-my-json-valid/
node_modules/is-number-like/
node_modules/is-property/
node_modules/jquery.cookie/
node_modules/jquery/
node_modules/json3/
node_modules/jsonfile/
node_modules/jsonpointer/
node_modules/klaw/
node_modules/limiter/
node_modules/localtunnel/
node_modules/lodash.isfinite/
node_modules/magic-string/
node_modules/moment/
node_modules/negotiator/
node_modules/node-dir/
node_modules/object-component/
node_modules/object-path/
node_modules/on-finished/
node_modules/openurl/
node_modules/opn/
node_modules/options/
node_modules/parsejson/
node_modules/parseqs/
node_modules/parseuri/
node_modules/parseurl/
node_modules/path-to-regexp/
node_modules/portscanner/
node_modules/range-parser/
node_modules/react-bootstrap-datetimepicker/
node_modules/react-router-dom/
node_modules/react-router/
node_modules/requires-port/
node_modules/resolve-pathname/
node_modules/resp-modifier/
node_modules/rx/
node_modules/send/
node_modules/serve-index/
node_modules/serve-static/
node_modules/server-destroy/
node_modules/setprototypeof/
node_modules/socket.io-adapter/
node_modules/socket.io-client/
node_modules/socket.io-parser/
node_modules/socket.io/
node_modules/statuses/
node_modules/stream-throttle/
node_modules/tfunk/
node_modules/to-array/
node_modules/ultron/
node_modules/underscore/
node_modules/unpipe/
node_modules/utils-merge/
node_modules/value-equal/
node_modules/vlq/
node_modules/warning/
node_modules/weinre/
node_modules/ws/
node_modules/wtf-8/
node_modules/xmlhttprequest-ssl/
node_modules/yeast/
src/less/base.css
src/less/index.css
src/less/mixin.css
src/less/variable.css
/node_modules/
!/node_modules/
